@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');


@page { size: auto;  margin: 0; }
@media print {
body{
    size: A4;
    /* change the margins as you want them to be. */
} 
}
html {
    margin-top: 0.5cm;
    margin-left: 2cm;
    margin-right: 1cm;
    margin-bottom: 1cm;;
    padding: 0px;
    size: A4;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}
h1 {
    font-weight: 700;
    text-align: left;
    margin: 0;

}
.grid-contacts {
    display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    gap: 0;
    text-align: justify;
}
.contacts {
    grid-column: 1;
    grid-row: 1;
}
.socials {
    grid-column: 1;
    grid-row: 2
}
h2 {
    padding: 0;
    margin-top: 1%;
    margin-bottom: 0;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    font-weight: 600;
    font-size: 20px;
}
div {
    font-weight: 300;
}
ul {
    margin: 0.5%;
}
h3 {
    text-align: left;
}
.grid-experience {
    
    display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    gap: 0;
}
.company{
    margin-top: 0.5%;
    font-size: 16px;
    grid-row: 1;
    grid-column: 1;
    text-align: left;
    font-weight: 500;
}
.date {
    grid-row: 2;
    grid-column: 2;
    text-align: right;
    font-weight: 200;
    font-size: 12px;
    font-style: italic;
}
.degree {
    font-weight: 500;
    text-align: left;
    grid-row: 2;
    grid-column: 1;
}
.introduction {
    padding: 0%;
    margin: 0% 0% 0% 0%;
}
p {
    text-align: justify;
    text-indent: 20px;
    margin: 0%;
    padding: 0%;
}
a {
    color: blue;
}
a:active{
    color: purple;
}