.grid-contacts {
    display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    gap: 0;
}
.email {
    grid-column: 1;
    grid-row: 1;
}
.telegram {
    grid-column: 1;
    grid-row: 2
}
.github {
    grid-column: 2;
    grid-row: 1;
}
.phone {
    grid-column: 2;
    grid-row: 2;
}